body {
	background-image: url("space3.jpg");
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color:white;

	
}
#header {
text-align:center;	
	
}
#Canvas {


    Margin: 0 auto;
    Vertical-align: middle;
    background-color: white;
}